.aboutmemain{
    margin:8%;
    width:100%;
    display:flex;
    flex-direction:row;
}

.aboutmecol{
    text-align: center;
    border-right: dotted 2px brown;
    width:28%;
}
.aboutmecol1{
    text-align: center;
    border-right:dotted 2px brown;
    width:28%;
    display:flex;
    flex-direction: column;
}
.title{
    text-align:left;
}
.title p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
.title h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}
.aboutmecol2{
    text-align: center;
    width:28%;
    display:flex;
    flex-direction: column;
}
.bar-edu{
    text-align:left;
    width:90%;
    border-radius: 25px;
    border: 2px solid brown;
    background:brown;
    margin:10px;
}
.prof-det p{
    margin:10px;
}
.bar-edu p{
    margin-left:10px;
    margin-bottom:0px;
    margin-top:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}
.aboutmecol1 ul{
    text-align: left;
    margin-left:0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}

.aboutmecol2 ul{
    text-align: left;
    margin-left:0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
}